
body {
    text-align: center;
    background-color: khaki;
}

header {
    background-color: aqua;
    font-family: sans-serif;
    border-radius: 30px;
    border-color: blue;
}

.header_description {
    font-style: italic;
}

form {
    background-color: lightcoral;
    padding: inherit;
}